.homepage-container {
  .first-banner {
    margin-top: 60px;
    a {
      p {
        left: 23%;
        top: 63%;
      }
    }
  }
  .second-banner {
    overflow: auto;
  }
  .third-banner {
    overflow: auto;
  }
  .hp-banner {
    a {
      -webkit-user-drag: none;
      p {
        color: black;
      }
    }
  }
}

.hidden {
  display: none;
}