@import '../globals/global_variables.scss';

.homepage-banner-wide {
  max-width: 90%;
  margin: 25px 5% 25px 5%;
  position: relative;
  img {
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    display: block;
    width: 100%;
  }
  p {
    font-size: $big-header-font-size;
    font-family: $copy-font;
    margin: 0;
    position: absolute;
    color: $copy-color;
  }
}

.homepage-banner-half {
  max-width: 90%;
  margin: 0 5% 0 5%;
  position: relative;
  vertical-align: bottom;
  .homepage-banner-img {
    width: 40%;
    float: left;
    img {
      display: block;
      width: 100%;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
    }
  }
  .homepage-banner-text {
    float: left;
    text-align: center;
    margin-top: 4%;
    width: 60%;
    h1 {
      font-size: 30px;
      margin: 0 0 20px 0;
    }
    p {
      font-family: $copy-font;
      font-weight: 600;
      margin: 0;
      font-size: $copy-font-size;
      width: 80%;
      margin-left: 10%;
      text-align: left;
      margin-right: 10%;
      color: $copy-color;
    }
  }
}

.banner-header {
  text-align: center;
  margin: 80px 10% 80px 10%;
  p {
    font-family: $header-font;
    font-size: $header-font-size;
  }
}

.banner-text {
  text-align: center;
  margin: 80px 10% 80px 10%;
  h1 {
    font-family: $header-font;
    font-size: 30px;
    margin: 0 0 20px 0;
  }
  p {
    font-family: $copy-font;
    font-weight: 600;
    font-size: $copy-font-size;
  }
}