@import '../globals/global_variables.scss';

.tiles-container {
  max-width: 90%;
  margin: 0 5% 0 5%;
  .tiles-header {
    text-align: center;
    margin: 80px 0 80px 0;
    p {
      font-family: $header-font;
      font-size: $header-font-size;
    }
  }
  .img-container {
    width: 33.3333333%;
    display: inline-block;
    vertical-align: bottom;
    #react-modal-image-img {
      width: auto;
      margin-top: 20px;
    }
    img {
      display:block;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      user-select: none;
    }
    .__react_modal_image__header {
      background-color: $brand-color;
    }
  }
}