$header-font: Helvetica, sans-serif;
$copy-font: Arial;
$brand-color: rgb(204 144 228);
$header-font-size: 45px;
$copy-font-size: 20px;
$gnav-font-size: 25px;
$header-color: black;
$copy-color: black;
$gnav-color: #4a4a4a;