@import '../../components/data/global_variables.scss';

.homepage-container {
  .first-banner {
    margin-top: 30px;
    a {
      p {
        left: 23%;
        top: 63%;
      }
    }
  }
  .second-banner {
    overflow: auto;
  }
  .third-banner {
    overflow: auto;
  }
  .hp-banner {
    a {
      -webkit-user-drag: none;
      p {
        color: $copy-color;
      }
    }
  }
}

.hidden {
  display: none;
}

.disclaimer {
  display: none;
}