@import '../../components/globals/global_variables.scss';

.homepage-container {
  .first-banner {
    margin-top: 30px;
    a {
      p {
        left: 23%;
        top: 63%;
      }
    }
  }
}

.hidden {
  display: none;
}

.disclaimer {
  display: none;
}