.gnav-menu-row {
  border-bottom: solid 2px;
  color: #cfbdbd;
  padding: 0 10px 125px 10px;
  margin: 25px 7% 0 7%;
  .menu-link {
    float: left;
    padding: 42px 40px 0px 25px;
    a {
      font-size: 25px;
      color: black;
    }
  }
  .logo-container {
    float: left;
    padding-right: 40px;
    img {
      height: 100px;
    }
  }
  .location-link {
    float: right;
    padding: 42px 0px 0px 25px;
    a {
      font-size: 25px;
      color: black;
    }
  }
}