@import '../../components/globals/global_variables.scss';

.contact-us-container {
  @media (max-width: 1025px) {
    .banner-header {
      p {
        font-size: 33px;
      }
    }
  }
  .contact-us-form-container {
    font-family: $copy-font;
    font-size: $copy-font-size;
    font-weight: 600;
    .card {
      border: none;
      margin: auto;
      max-width: 700px;
      padding-right: 5%;
      padding-left: 5%;
      #question {
        textarea {
          resize: none;
          height: 150px;
        }
      }
      button {
        font-weight: 600;
        font-size: $copy-font-size;
      }
      input {
        font-weight: 600;
      }
      textarea {
        font-weight: 600;
      }
      .alert-danger {
        border-radius: 0;
      }
    }
    margin-bottom: 60px;
  }
}
