@import '../data/global_variables.scss';
.footer-container {
  .first-row {
    .resources:hover {
      text-decoration: underline;
      font-weight: 400;
    }
  }
  .third-title, .second-title, .first-title {
    font-family: $header-font;
  }
  .stay-connected-title {
    font-family: $header-font;
  }
  .copyright {
    font-family: $header-font;
  }
}
