@import '../globals/global_variables.scss';

.footer-container {
  background-color: #e1e1e1;
  .footer-menu-row {
    padding: 0px 100px 100px 100px;
    margin: 0 15px 0 15px;
    .menu-link {
      float: left;
      padding: 35px 50px 0px 25px;
      font-family: $copy-font;
      font-weight: 600;
      a {
        text-decoration: none;
        font-size: $gnav-font-size;
        color: $gnav-color;
        &:hover {
          text-decoration: underline;
        }
      }
      &.language {
        cursor: pointer;
      }
    }
    .logo-container {
      float: right;
      padding-right: 40px;
      padding-top: 25px;
      img {
        height: 50px;
      }
    }
  }
  .footer-mobile-row {
    padding: 3% 0 3% 8%;
    .logo-container {
      margin: 25px 0px 15px 0px;
      img {
        height: 50px;
      }
    }
    .menu-link {
      margin-top: 10px;
      font-family: $copy-font;
      font-weight: 600;
      a {
        text-decoration: none;
        font-size: $gnav-font-size;
        color: $gnav-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
