body {
  margin: 0;
}

.hidden {
  display: none;
}

.disclaimer {
  display: none;
}

.mobile-hidden {
  @media (max-width: 1025px) {
    display: none!important;
  }
}

.pc-hidden {
  @media (min-width: 1025px) {
      display: none!important;
  }
}